<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.news.servlet.loginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>findbackServlet</servlet-name>
		<servlet-class>com.news.servlet.findbackServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>newServlet</servlet-name>
		<servlet-class>com.news.servlet.newServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>findbackServlet</servlet-name>
		<url-pattern>/findback</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>newServlet</servlet-name>
		<url-pattern>/nextPage/newServlet</url-pattern>
	</servlet-mapping>
	
	
</web-app>